<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <div>
      <label for="name">Nome:</label>
      <input type="text" id="name" formControlName="name" required>
    </div>

    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>

    <div *ngIf="loginFailed" class="error">
      Nome ou senha incorretos. Tente novamente.
    </div>

    <button type="submit" [disabled]="loginForm.invalid">Entrar</button>
    
  </form>
    <button (click)="goToCadastro()">Cadastro</button>
</div>