.lista-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
      border: 1px solid #000000;
      padding: 8px;
      text-align: left;
    }

    th {
      background-color: #8db4e7;
      color: #2c2c2c;
    }

    tr:nth-child(even) {
      background-color: #eae6f0;
    }

    tr:hover {
      background-color: #f1f1f1;
    }
  }

  
  .button-container {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;

    button {
      padding: 5px 10px; 
      background-color: #dc3545; 
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #c82333; 
      }
    }
  }
}